Repository VildMedPap/fmgraphics: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Running black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

      - id: isort
        name: Running isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

      - id: mypy
        name: Running mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        exclude: |
          (?x)^(
            tests/
          )

      - id: flake8
        name: Running flake8
        stages: [commit]
        language: system
        entry: poetry run flake8
        types: [python]
        exclude: |
          (?x)^(
            tests/
          )

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
      - id: add-trailing-comma
        name: Running add-trailing-comma

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: requirements-txt-fixer
        name: Running requirements-txt-fixer

      - id: trailing-whitespace
        name: Running trailing-whitespace
        exclude: ^(notebooks/)
        args: [--markdown-linebreak-ext=md]

      - id: end-of-file-fixer
        name: Running end-of-file-fixer
        exclude: ^(notebooks/)

      - id: check-toml
        name: Running check-toml

      - id: check-symlinks
        name: Running check-symlinks

      - id: check-json
        name: Running check-json

      - id: check-yaml
        name: Running check-yaml
        args: ["--allow-multiple-documents"]

      - id: check-added-large-files
        name: Running check-added-large-files
        args: ["--maxkb=1000"]

      - id: check-merge-conflict
        name: Running check-merge-conflict

      - id: no-commit-to-branch
        name: Running no-commit-to-branch
        args: [--branch, master]

vendor: add initial lock
  poetry.lock
Due: none

vendor: add vscode settings
  .vscode/settings.json
Due: none

test: add empty tests directory
  tests/.gitkeep
Due: none

vendor: change to ruff
  .flake8
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  poetry.lock
  pyproject.toml
Due: none

docs: update formatters and linters
  CONTRIBUTING.md
Due: none

style: change docstring format to numpy
  .vscode/settings.json
  pyproject.toml
Due: none

test: remove ruff fixing from tests directory
  Makefile
Due: none

feature: add image class
  src/fmgraphics/__init__.py
  src/fmgraphics/image.py
Due: black, isort, mypy, flake8

test: add tests for image class
  tests/.gitkeep
  tests/test_image.py
Due: black, isort

vendor: add lxml to dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: change typos in docstring
  src/fmgraphics/image.py
Due: black, isort, mypy, flake8

docs: add note on image class
  CHANGELOG.md
Due: none

feature: add face class
  src/fmgraphics/assets.py
Due: black, isort, mypy, flake8

test: add test for face class
  tests/test_assets.py
Due: black, isort

test: add base class for testing assets
  tests/test_assets.py
Due: black, isort

feature: rename Image base class to Asset
  src/fmgraphics/__init__.py
  src/fmgraphics/assets.py
  src/fmgraphics/image.py
  tests/test_assets.py
  tests/test_image.py
Due: black, isort, mypy, flake8

feature: add Logo class
  src/fmgraphics/assets.py
Due: black, isort, mypy, flake8

test: add tests for Logo class
  tests/test_assets.py
Due: black, isort

feature: add Icon class
  src/fmgraphics/assets.py
Due: black, isort, mypy, flake8

test: add tests for Icon class
  tests/test_assets.py
Due: black, isort

feature: add HugeLogo class
  src/fmgraphics/assets.py
Due: black, isort, mypy, flake8

test: add tests for HugeLogo class
  tests/test_assets.py
Due: black, isort

feature: implement _xml_path method of Asset class
  src/fmgraphics/assets.py
Due: black, isort, mypy, flake8

test: modify tests to accommodate _xml_path implementation
  tests/test_assets.py
Due: black, isort

feature: add 2D kits classes
  src/fmgraphics/assets.py
Due: black, isort, mypy, flake8

test: add tests for 2D kits classes
  tests/test_assets.py
Due: black, isort

feature: add 3D kits classes
  src/fmgraphics/assets.py
Due: black, isort, mypy, flake8

test: add tests for 3D kits classes
  tests/test_assets.py
Due: black, isort

feature: rename classes from Kits* to Kit*
  src/fmgraphics/assets.py
Due: black, isort, mypy, flake8

test: rename classes from Kits* to Kit*
  tests/test_assets.py
Due: black, isort

chore: correct typo
  src/fmgraphics/assets.py
Due: black, isort, mypy, flake8

feature: add FaceIcon class
  CHANGELOG.md
  src/fmgraphics/assets.py
Due: black, isort, mypy, flake8

test: add tests for FaceIcon class
  tests/test_assets.py
Due: black, isort

ci: add codecov to project
  .github/workflows/ci.yaml
Due: none

ci: add files and flags key to codecov step
  .github/workflows/ci.yaml
Due: none

docs: add codecov shield
  README.md
Due: none

test: specify coverage report format and destination
  pyproject.toml
Due: none

docs: add MIT LICENSE
  LICENSE
  README.md
Due: none

docs: add black shield
  README.md
Due: none

docs: add ci badge
  README.md
Due: none
